
/* WELCOME PAGE */
.background-image {
  background-image: url("../src/assests/bacckground-img.png");
  height: 55em;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  background-size: cover;
  filter: brightness(100%);
  z-index: -1;
}

 .welcome-page{
   margin-top: 150px;
   padding-left: 40px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}


.first-header h1{
  font-size: 68px;
  font-family: serif;
}

.page1-inputs{
  display: flex;

}

.address-input{
width: 650px;
height: 70px;
padding: 0 10px;
margin-right: 15px;
font-size: 20px;
border: none;
cursor: pointer;
outline: nonecd ;
}

.delivery-input{
  width: 250px;
  height: 70px;
  padding: 0 10px;
  margin-right: 15px;
  font-size: 20px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}


.page1-butt{
width: 15%;
font-size: 20px;
color: white;
background-color: black;
border-radius: 10px;
cursor: pointer;
}

.page1-butt:hover{
  background-color: rgb(41, 30, 30);
}

.page1-p{
  font-size: 18px;
  font-family: sans-serif;

} 

.page1-p a{
  color: #000;
}


/* NAV_BAR */
.Navbar{
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  margin-top: 15px;
}

.left-nav{
  display: flex;
  padding-left: 25px;
}

.hamburger-react{
  margin: 22.6px 25px 0 0;

}

.left-nav h1{
  font-size: 37px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.eat-style{
  font-family: Arial, Helvetica, sans-serif;
}

.right-nav{
 margin: 15px 40px;

  
}

.log-button{
  padding: 17px 18px;
  background-color: #fff;
  color: #000;
  margin-right: 15px;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  font-weight: 700;
}


.sign-button{
  padding: 18px 20px;
  background-color: black;
  color: #fff;
  border-radius: 30px;
  font-size: 20px;
}

#delivery-methods{
  margin-top: 380px;
  display: flex;
  justify-content: space-around;
  padding: 0 25px;

}

.method{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 31%;
}

.method img{
  width: 100%;
}

.method h2{
  font-size: 40px;
  margin: 10px 0;
}

.method a{
font-size: 25px;
color: #000;
}


/* CITIES NEAR ME */

.map{
margin-top: 60px;
padding:  0 40px;
}

.cities-heading{
  display: flex;
  justify-content: space-between;
 
}

.map h1{
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}


/* LIST OF CITIES */

.cities{
display: flex;

}


.city-list{
margin-right: 70px;
width: 25%;
list-style: none;
}


.cities-map{
  display: flex;
  text-align: left;
  font-size: 20px;
  line-height: 3;
  width: 100%;
  font-family: sans-serif;

}


/* LIST OF COUNTRY */

.country-list{
  /* padding: 40px; */
  display: flex;
  flex-direction: column;
}

.country-header{
display: flex;
justify-content: space-between;
margin: 0 30px 0;
font-family: sans-serif;
}

.country-header h1{
  font-size: 45px;
  margin-bottom: 20px;
}

.view-link{
color: #000;
display: flex;
font-size: 20px;
align-items: center;
padding-right: 5px;
font-family: sans-serif;
}

.country-li{
  margin-right: 70px;
  width: 25%;
  list-style: none;
  }
  
  
  .country{
    display: flex;
    text-align: left;
    font-size: 20px;
    line-height: 2.5;
    width: 100%;
    font-family: sans-serif;
  
  }


/* INFORMATION */

.line{
  border-top: 1px solid rgb(221, 216, 216);
  margin: 20px 0 30px;
}

.infos{
display: flex;
justify-content:space-around ;
}


.info-store{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.app-store{
  display: flex;
  
  
}

.info-store h1{
  font-size: 40px;
  text-align: start;
  margin-bottom: 170px;
}

.app-store img{
  width: 35%;
  margin-right: 20px;
  
}

.info-lists{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

.info-list-ul{
  list-style: none;
  text-align: left;
  font-size: 20px;
  line-height: 2.5;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}

.footer{
  display: flex;
  flex-direction: column;
}

.footer1{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

}

.footer-ul{
  list-style: none;
  display: flex;
  font-size: 20px;
}

.footer-icons {
display: flex;
margin-left: 15px;

}

.line2{
  border-top: 1px solid rgb(221, 216, 216);
  margin: 15px 40px 50px;
}

.copyright{
  display: flex;
  justify-content: flex-end;
}

.copyright p{
  margin-right: 55px;
  font-size: 20px;
}